
<!DOCTYPE html>
<html>

  <body class="no-margin" style="width: 100%;">

    <style>
    .desc-table {
      border-radius: 50px;
      padding: 50px;
      width: 80%;
    }
    .attention-block {
      width: 100%;
      font-family: "Courier New", Courier;
    }
    </style>

    <div class="attention-block" align="center">
      <br><br><br><br>
      <div style="font-size: 64px;">Example Hidden service</div>
      <br><br>
      <div>Not hidden yet, though. That's your job</div>
      <br><br><br><br>
    </div>
    <a href="{% url 'getting_started' %}" class="top-item"><div class="inline top-item rounded-button">Log In/Create Account</div></a>
  </body>
</html>
