{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      CMU 17-331 Test Server
    </title>
  </head>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
  <body class="no-margin">
    <div class="top no-margin" height="50">
      <div class="top-item"></div>
      <div class="right" height="50">
      </div>
    </div>
    {% block pagecontent %}
    {% endblock %}
  </body>
</html>
